<form [ngFormModel]="infoForm" (submit)="submitinfoForm()" >

  <table>
    <tr>
      <td><md-input ngControl='firstName'><span md-prefix>First Name : </span></md-input></td>
      <td><md-input ngControl='lastName'> <span md-prefix> Last Name : </span></md-input></td>
    </tr>
  </table>
<br>
  <md-input ngControl='phoneNumber' placeholder=" Phone Number" type="number"><md-hint align="end">10 digits</md-hint></md-input>
<br>
  <md-input ngConrol='address' placeholder="Location"> </md-input>
<br>
  <md-input ngConrol='height'>
    <span md-prefix> Height : </span>
    <span md-suffix> in cms </span>
  </md-input>
<br>
  <md-card>
    <md-card-title>
      Your age
    </md-card-title>
    <md-card-actions>
      <md-radio-group ngControl= "age">
        <md-radio-button *ngFor="let age of ageOptions" [value]="age.value">
          {{age.label}}
        </md-radio-button>
      </md-radio-group>
    </md-card-actions>
  </md-card>
<br>
  <md-card>
    <md-card-title>
      Weight
    </md-card-title>
    <select ngControl='weight'>
    <option value="lessthanfortyfive">  < 45 </option>
    <option value="fortytofifty"> 45-56 </option>
    <option value="fiftytosixty"> 57-68 </option>
    <option value="seventytoeighty"> 69-80 </option>
    <option value="eightytoninty"> 81-95 </option>
    <option value="greaterthannintyfive"> > 95 </option>
  </select>
</md-card>
<br>
  <md-card>
    <md-card-title>
      Goal Choice
    </md-card-title>
    <md-card-actions>
      <md-radio-group ngControl = "goalsChoice">
        <md-radio-button *ngFor = "let goal of goalsOptions" [value]= " goal.value ">
          {{goal.label}}
        </md-radio-button>
      </md-radio-group>
    </md-card-actions>
  </md-card>
<br>
  <button md-button type="submit" [disabled]="letEdit" > That looks like me </button>
</form>
<button md-button (click)="editForm()"> Let Me Edit </button>
