<form [ngFormModel]="infoForm" (submit)="submitinfoForm()">
  <md-input ngControl='name' placeholder="Full name please"></md-input>
  <md-input ngControl='phone' placeholder="phone number here please" type="number"></md-input>
  <md-input type = "date" ngControl='dob' placeholder="Date of birth"></md-input>
  <md-input ngConrol='address' placeholder="address"></md-input>
  <md-input ngConrol='height' placeholder="height"></md-input>
  <select ngConrol='weight'>
    <option value="lessthanfortyfive">  < 45 </option>
    <option value="fortytofifty"> 45-56 </option>
    <option value="fiftytosixty"> 57-68 </option>
    <option value="seventytoeighty"> 69-80 </option>
    <option value="eightytoninty"> 81-95 </option>
    <option value="greaterthannintyfive"> > 95 </option>
  </select>
  <button md-button type="submit" [disabled] = "letEdit"> That looks like me </button>
</form>
<button md-button (click)="editForm()"> Let Me Edit </button>
