<md-toolbar [color]="primary">
  <div (loginevent)="loggedIn = true" >
    <span *ngIf="!loggedIn" class = "primary"> <a [routerLink]="['/intro']"> You are not registered, please sign in or sign up</a> </span>
    <div *ngIf="loggedIn">
      <span  class = "secondary"> <a [routerLink]="['/home',res.displayName]"> Home </a> </span>
      <span class = "secondary"> <button md-button (click) = "logout()"> Logout </button>
    </div>
  </div>
</md-toolbar>
<router-outlet [user]="res"></router-outlet>

<!-- <md-sidenav-layout>
<md-sidenav #menu>
  <md-list>
    <md-list-item *ngFor='let loggedin of loggedinPages'>
      {{loggedin}}
    </md-list-item>
    <md-list-item *ngFor='let loggedout of loggedoutPages'>
      {{loggedout}}
    </md-list-item>
  </md-list>
  <button (click)='menu.toggle()'>Menu</button>
</md-sidenav>
  <md-content>
    <button (click)="menu.toggle()"></button>
    <app-intro></app-intro>
  </md-content>
</md-sidenav-layout>
-->
