<div (nouser) = "showintro = true" (founduser) = "showintro = false" >
  <md-toolbar >

      <span *ngIf="showintro" > <a [routerLink]="['/intro']"> <i class="material-icons enable">face</i> You are not registered, please sign in or sign up</a> </span>
      <div *ngIf="!showintro">
        <span  > <a [routerLink]="['/home',displayName]"> Home </a> </span>
        <span > <button md-button (click) = "logout()"> Logout </button> </span>
        <span class="toolbardivider"></span>
        <span > <a [routerLink]="['/personal']"> <i class="material-icons enable">Person </i></a></span>
      </div>
</md-toolbar>
</div>
<div >
  <router-outlet (loggedin)="loggedin($event)"></router-outlet>
</div>
<!--<md-toolbar>

    <span class="personal"> Personal</span>
    <span class="fillspace"></span>
    <span> Home </span>

</md-toolbar>

<md-card>
  <md-card-header>
    <img md-card-avatar src="../images/test.png">
    <md-card-title> Main Title </md-card-title>
  </md-card-header>

  <md-card-content>
    <p>Content in p </p><br>
    and outside
  </md-card-content>
  <md-card-actions>
    <button md-button> action button </button>
  </md-card-actions>
</md-card>
-->
<!--  <md-sidenav-layout>
<md-sidenav #menu>
  <md-list>
    <md-list-item *ngFor='let loggedin of loggedinPages'>
      {{loggedin}}
    </md-list-item>
    <md-list-item *ngFor='let loggedout of loggedoutPages'>
      {{loggedout}}
    </md-list-item>
  </md-list>
  <button (click)='menu.toggle()'>Menu</button>
</md-sidenav>
  <md-content>
    <button (click)="menu.toggle()"></button>
    <app-intro></app-intro>
  </md-content>
</md-sidenav-layout>
 -->
