<div>
  <form [ngFormModel]="signupForm" (submit)="submitsignupForm()">
    <table>
      <tr>
        <td>
          <md-input ngControl='email' placeholder="Email Id you use"></md-input>
        </td>
      </tr>
      <tr>
        <td>
          <md-input type="password" ngControl='password' placeholder="password you wish to have"></md-input>
      </td>
    </tr>
    <tr>
      <td>
        <md-input ngControl='displayName' placeholder="User name"></md-input>
      </td>
    </tr>
  </table>
    <button md-button type="submit"> Register as a user </button>

  </form>
</div>

<div *ngIf="registered">
  <p> You have been registered, please verify your email and proceed to login page</p>
</div>
